html, body {
  background: black;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
anonymous-led {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
}
#embed-script {
  position: absolute;
  top: 1em;
  right: 1em;
}
a {
  color: #F80;
  text-decoration-style: dashed;
}
a:hover {
  color: #FFF;
}